<ion-header>
  <ion-toolbar color="light">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Because it is an Observerble we need to pass the async-pipe -->
    <ion-card *ngFor="let course of favouriteCourseListData | async">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{course.thumbCreatorPhotoURL}}">
        </ion-avatar>
        <h2>{{course.creatorName}}</h2>
      </ion-item>
      <br>

      <img src="{{course.thumbTitleImageUrl}}"
           alt="Image not found"
           onerror="this.onerror = null; this.src='assets/imgs/imageloading600x340.jpg';"
           (click)="openCourseContentListPage(course);">

      <ion-card-content>
        <h2>{{course.title}}</h2>
        <div class="top-margin-1"></div>
        <p>{{course.description}}</p>
      </ion-card-content>

      <div class="element-to-right">
        <button ion-button clear color="primary" (click)="selectCourseItem(course);"
                *ngIf="authUid === course.creatorUid">
          <ion-icon name="more"></ion-icon>
        </button>
        <!-- added favourite for dummy purposes -->
        <button ion-button clear color="light" (click)="favouriteCourse(course)"
                *ngIf="course.favourite === false || course.favourite === null || course.favourite === undefined">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button ion-button clear color="primary" (click)="favouriteCourse(course)" *ngIf="course.favourite === true">
          <ion-icon name="heart"></ion-icon>
        </button>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
