<ion-content padding>
  <ion-icon name="arrow-back" (click)="dismiss();"></ion-icon>
  <form [formGroup]="contentCreateModalForm">
    <p>Erstellen Sie einen neuen Content.</p>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="title" maxlength="25"></ion-input>
    </ion-item>
    <div class="element-to-right">
      <p>{{contentCreateModalForm.get('title').value?.length}} / 25</p>
    </div>
    <div class="error" *ngIf="contentCreateModalForm.get('title').hasError('pattern')" padding>
      Bitte geben Sie einen Titel ein.
    </div>
    <ion-item>
      <ion-label floating>Beschreibung</ion-label>
      <ion-textarea rows="6" type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <div class="element-to-right">
      <p>{{contentCreateModalForm.get('description').value?.length}} / 255</p>
    </div>
    <div class="error" *ngIf="contentCreateModalForm.get('description').hasError('pattern')" padding>
      Bitte geben Sie eine Beschreibung ein.
    </div>
  </form>
  <div class="top-margin-2">
    <p>Laden Sie nun das Video des Contents hoch. Beachten Sie dabei, dass nur mp4 Dateien akzeptiert werden.</p>
    <button ion-button block [disabled]="contentCreateModalForm.invalid" (click)="CreateNewContent();">Hochladen &
      Erstellen
    </button>
  </div>
</ion-content>
