<ion-content padding>

  <ion-icon name="arrow-back" (click)="dismiss();"></ion-icon>
  <p>Ändern Sie den Kurs.</p>

  <p class="element-to-left">Titelbild bearbeiten:</p>
  <button class="element-to-right" ion-button clear item-end (click)="chooseAndUploadNewTitleImage();">
    <ion-icon name="create"></ion-icon>
  </button>

  <img src="{{(courseData | async)?.titleImageUrl}}">

  <div class="top-margin-2"></div>
  <form [formGroup]="courseEditModalForm">
    <p padding-horizontal>Titel & Beschreibung bearbeiten:</p>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" formControlName="title" maxlength="25" value="{{(courseData | async)?.title}}"></ion-input>
    </ion-item>
    <div class="element-to-right">
      <p>{{courseEditModalForm.get('title').value?.length}} / 25</p>
    </div>
    <div class="error" *ngIf="courseEditModalForm.get('title').hasError('pattern')" padding>
      Bitte geben Sie einen Titel ein.
    </div>

    <ion-item>
      <ion-label floating>Beschreibung</ion-label>
      <ion-textarea rows="6" type="text" formControlName="description" maxlength="255"
                    value="{{(courseData | async)?.description}}"></ion-textarea>
    </ion-item>
    <div class="element-to-right">
      <p>{{courseEditModalForm.get('description').value?.length}} / 255</p>
    </div>
    <div class="error" *ngIf="courseEditModalForm.get('description').hasError('pattern')" padding>
      Bitte geben Sie eine Beschreibung ein.
    </div>
  </form>

  <div class="top-margin-2">
    <button ion-button block [disabled]="courseEditModalForm.invalid" (click)="editCourseTitleAndDescription();">
      Ändern
    </button>
  </div>
</ion-content>
