<ion-header>
  <ion-toolbar color="light">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="openCreateCourseModal();">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="allcourses">
        Alle Kurse
      </ion-segment-button>
      <ion-segment-button value="mycourses">
        Meine Kurse
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'allcourses'">
      <!-- Because it is an Observerble we need to pass the async-pipe -->
      <ion-card *ngFor="let course of courseListData | async">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{course.creatorPhotoURL}}">
          </ion-avatar>
          <h2>{{course.creatorName}}</h2>
        </ion-item>
        <br>

        <img src="{{course.titleImageUrl}}" (click)="openCourseContentListPage(course);">

        <ion-card-content>
          <h2>{{course.title}}</h2>
          <div class="top-margin-1"></div>
          <p>{{course.description}}</p>
        </ion-card-content>

        <div class="element-to-right" *ngIf="authUid === course.creatorUid">
          <button ion-button clear color="primary" (click)="selectCourseItem(course);">
            <ion-icon name="more"></ion-icon>
          </button>
          <button ion-button clear color="light">
            <ion-icon name="heart"></ion-icon>
          </button>
        </div>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'mycourses'">
      <!-- Because it is an Observerble we need to pass the async-pipe -->
      <ion-card *ngFor="let myCourse of myCourseListData | async">
        <!--
        <div *ngIf="authUid === myCourse.creatorUid">
          -->
        <ion-item>
          <ion-avatar item-start>
            <img src="{{myCourse.creatorPhotoURL}}">
          </ion-avatar>
          <h2>{{myCourse.creatorName}}</h2>
        </ion-item>
        <br>

        <img src="{{myCourse.titleImageUrl}}" (click)="openCourseContentListPage(myCourse);">

        <ion-card-content>
          <h2>{{myCourse.title}}</h2>
          <div class="top-margin-1"></div>
          <p>{{myCourse.description}}</p>
        </ion-card-content>

        <div class="element-to-right">
          <button ion-button clear color="primary" (click)="selectCourseItem(myCourse);">
            <ion-icon name="more"></ion-icon>
          </button>
          <button ion-button clear color="light">
            <ion-icon name="heart"></ion-icon>
          </button>
        </div>
        <!--
        </div>
        -->
      </ion-card>
    </ion-list>
  </div>
  <div class="top-margin-4"></div>
</ion-content>
