<ion-content>
  <ion-icon padding-horizontal padding-top name="arrow-back" (click)="goToRootPage()"></ion-icon>
  <form [formGroup]="signUpForm">
    <div padding-horizontal>
      <h1>Registrieren:</h1>
      <p>Bitte füllen Sie das Formular aus.</p>
    </div>
    <ion-item>
      <ion-label floating>E Mail</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="error" *ngIf="signUpForm.get('email').hasError('pattern')" padding>
      Bitte geben Sie eine valide E Mail Adresse ein.
    </div>
    <ion-item>
      <ion-label floating>Passwort</ion-label>
      <ion-input clearInput type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="signUpForm.get('password').hasError('minlength')" padding>
      Das Passwort hat mind. 6 Zeichen.
    </div>
  </form>
  <div padding>
    <button ion-button block [disabled]="signUpForm.invalid" (click)="signUp();">Registrieren</button>
  </div>
</ion-content>
